rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email == "steve.l@dlgroupe.com";
    }

    match /players/{playerId} {
      allow create: if
        request.resource.data.keys().hasAll([
          "team","fullName","address","postalCode","city","email","phone",
          "emergency1","emergency2","photoUrl","photoPublicId","certificateFileUrl","certificatePublicId","certificateResourceType","certificateOriginalName","certificateGiven","isDelegate",
          "contributionStatus","createdAt","updatedAt"
        ])
        && request.resource.data.postalCode is string
        && request.resource.data.city is string
        && request.resource.data.photoUrl is string
        && request.resource.data.photoPublicId is string
        && request.resource.data.certificateFileUrl is string
        && request.resource.data.certificatePublicId is string
        && request.resource.data.certificateResourceType is string
        && request.resource.data.certificateOriginalName is string
        && request.resource.data.isDelegate is bool
        && (
          (request.resource.data.isDelegate == true
            && request.resource.data.contributionStatus == "")
          ||
          (request.resource.data.isDelegate == false
            && request.resource.data.contributionStatus in [
              "unpaid",
              "paid_partial",
              "paid_total"
            ])
        );

      allow read, update, delete: if isAdmin();
    }
  }
}
